{% extends 'index.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div style="margin-top:	80px">
		<form method="post" style="width: 500px; margin: 0 auto">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

		{% for message in app.flashes('note') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

		

		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<img src="..." class="rounded me-2" alt="...">
			<strong class="me-auto">Bootstrap</strong>
			<small>11 mins ago</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Hello, world! This is a toast message.
		</div>
		</div>

			<div class="row mb-3">
				<label for="email" class="col-md-4 col-form-label text-md-end">Email Address</label>

				<div class="col-md-6">
					<input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email" autofocus>

				</div>
			</div>

			<div class="row mb-3">
				<label for="password" class="col-md-4 col-form-label text-md-end">Password</label>

				<div class="col-md-6">
					<input id="password" type="password" class="form-control " name="password" required autocomplete="current-password">

				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-6 offset-md-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="remember" id="remember">

						<label class="form-check-label" for="remember">
							Remember Me
						</label>
					</div>
				</div>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="row mb-0">
				<div class="col-md-8 offset-md-4">
					<button type="submit" class="btn btn-primary">
						Login
					</button>

				</div>
			</div>


		</form>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


{% endblock %}
