{% extends 'base.html.twig' %}

{% block title %}New Equipment
{% endblock %}

{% block body %}
	<div class="mx-auto d-flex flex-column  align-items-center">
		<h1>Create new Equipment</h1>

		{{ include('equipment/_form.html.twig') }}

	</div>
{% endblock %}

{% block validate %}
	<script>
		$(function() {
		console.log('hello')
		$("form[name='equipment']").validate({
			rules: {
			'equipment[name]': "required",
			'equipment[description]': "required",
			},
			messages: {
				'equipment[name]': "Please enter equipment name",
				'equipment[description]': "Please enter equipment description",
			},
			submitHandler: function(form) {
				form.submit();
			}
			});
		});
	</script>
	<style>
		label.error {
			color: red;
			border-color: #ebccd1;
		}
	</style>
{% endblock %}
